@import 'settings';

@mixin button-disabled() {  
  &, &:hover, &:focus {
    background-color: $light-gray;
    border-color: $medium-gray;
    color: $black;    
  }
}

@mixin button-hollow () {
  @each $name, $color in $p1-button-palette {      
        &.#{$name} {
            background-color: transparent;
          &:hover, &:focus {                
                background-color: scale-color($color, $lightness: 95%);
          }
        }     
  }    
}


@mixin reveal-modal-header() {
  @each $name, $icon in $p1-modal-header-fa {
          &.#{$name} {
            .header-text {                          
                font-family: $body-font-family;
                &:before {
                content: $fa-var-check; 
                color: $success-color;   
                @include fa-icon();
                margin-right: 5px;
                }
            
             }
          }
    }
}