@import 'settings';

@mixin button-disabled() {  
  &, &:hover, &:focus {
    background-color: $light-gray;
    border-color: $medium-gray;
    color: $black;    
  }
}

@mixin button-hollow () {
  @each $name, $color in $p1-button-palette {      
        &.#{$name} {
            background-color: transparent;
          &:hover, &:focus {                
                background-color: scale-color($color, $lightness: 95%);
          }
        }     
  }    
}


@mixin reveal-modal-header() {
  @each $name, $value in $p1-modal-header-fa {
          &.#{$name} {
            .header-text {                          
                font-family: $body-font-family;
                &:before {
                  content: map-get($value, "icon"); 
                  color: map-get($value, "color");   
                  @include fa-icon();
                  margin-right: 5px;
                }            
             }
          }
    }
}

@mixin reveal-modal-default-button() {
  @each $name, $color in $button-palette {
      &.#{$name} {
        .button {
          @include button-expand;    
          &.default {
            @include button-style($color, auto, auto);
          }
        }        
      }
  }
}