<div class="row">
  <div class="large-12 columns">
    <h1>Welcome to P1 with Foundation</h1>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <div class="callout">
      <h3>We&rsquo;re stoked you want to try Foundation on ProjectOne! </h3>
     
 
    </div>
  </div>
</div>

<div class="row">
  <div class="columns">

  {{>alerts}}
  </div>
</div>

<div class="row">
  <div class="columns">
    {{>breadcrumbs}}
  </div>
</div>

<div class="row">
  <div class="column">
    <div class="callout">
      <h4>
        Modals
      </h4>
      <div class="row">
        <div class="column large-centered">
          {{>modals}}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="column large-12">
    <div class="callout">
      <h4>
        Buttons
      </h4>
      <div class="row">        
          {{>buttons}}        
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="column large-12">
    <div class="callout">
      <h4>
        CSS Arrow Panels
      </h4>
      <div class="row">  
        <div class="columns large-12">
           {{>arrow-callout}}   
        </div>      
           
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="column large-12">
    <div class="callout">
      <h4>
        Multilevel expand/collapse
      </h4>
      <div class="row">  
        <div class="columns large-12">
           {{>multi-level-expand-collapse}}   
        </div>      
           
      </div>
    </div>
  </div>
</div>



<div class="row">
  <div class="large-8 medium-8 columns">
    <h5>Here&rsquo;s your basic grid:</h5>
    <!-- Grid Example -->

    <div class="row">
      <div class="large-12 columns">
        <div class="primary callout">
          <p><strong>This is a twelve column section in a row.</strong> Each of these includes a div.callout element so you
            can see where the columns are - it's not required at all for the grid.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="large-6 medium-6 columns">
        <div class="primary callout">
          <p>Six columns</p>
        </div>
      </div>
      <div class="large-6 medium-6 columns">
        <div class="primary callout">
          <p>Six columns</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="large-4 medium-4 small-4 columns">
        <div class="primary callout">
          <p>Four columns</p>
        </div>
      </div>
      <div class="large-4 medium-4 small-4 columns">
        <div class="primary callout">
          <p>Four columns</p>
        </div>
      </div>
      <div class="large-4 medium-4 small-4 columns">
        <div class="primary callout">
          <p>Four columns</p>
        </div>
      </div>
    </div>

    <hr />

    <h5>We bet you&rsquo;ll need a form somewhere:</h5>
    <form>
      <div class="row">
        <div class="large-12 columns">
          <label>Input Label</label>
          <input type="text" placeholder="large-12.columns" />
        </div>
      </div>
      <div class="row">
        <div class="large-4 medium-4 columns">
          <label>Input Label</label>
          <input type="text" placeholder="large-4.columns" />
        </div>
        <div class="large-4 medium-4 columns">
          <label>Input Label</label>
          <input type="text" placeholder="large-4.columns" />
        </div>
        <div class="large-4 medium-4 columns">
          <div class="row collapse">
            <label>Input Label</label>
            <div class="input-group">
              <input class="input-group-field" type="text" placeholder="input-group" />
              <span class="input-group-label">.com</span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns">
          <label>Select Box</label>
          <select>
            <option value="husker">Husker</option>
            <option value="starbuck">Starbuck</option>
            <option value="hotdog">Hot Dog</option>
            <option value="apollo">Apollo</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="large-6 medium-6 columns">
          <label>Choose Your Favorite</label>
          <input type="radio" name="pokemon" value="Red" id="pokemonRed"><label for="pokemonRed">Radio 1</label>
          <input type="radio" name="pokemon" value="Blue" id="pokemonBlue"><label for="pokemonBlue">Radio 2</label>
        </div>
        <div class="large-6 medium-6 columns">
          <label>Check these out</label>
          <input id="checkbox1" type="checkbox"><label for="checkbox1">Checkbox 1</label>
          <input id="checkbox2" type="checkbox"><label for="checkbox2">Checkbox 2</label>
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns">
          <label>Textarea Label</label>
          <textarea placeholder="small-12.columns"></textarea>
        </div>
      </div>
    </form>
  </div>



</div>

